body {
    font-family: Roboto;
}

.header {
    margin-top: 10px;
}

.header,
h3 {
    padding: 8px;
    color: white;
    background: cyan;
    border-radius: 10px;
}

.penjual,
h5 {
    color: white;
    width: 30.5%;
    height: 50px;
    text-align: left;
    font-size: 30px;
    padding-left: 20px;
    color: black;
    margin-top: 20px;
}

.rincian {
    position: relative;
    left: 0px;
    top: 10px;
    width: 30.5%;
    height: 500px;
    background: transparent;
    border: 2px solid black;
    border-radius: 10px;
    overflow: auto;
}

.hasil {
    position: relative;
    margin-top: 20px;
    color: black;
    width: 30.4%;
    height: 100px;
    padding-top: 3px;
    padding-left: 10px;
    border: 2px solid black;
    border-radius: 10px;

}

.item {
    position: absolute;
    left: 30.8%;
    top: 73px;
    width: 68.2%;
    height: 50px;
    color: black;
    font-size: 30px;
    padding-left: 15px;
    text-align: left;
    margin-top: 30px;
}

.jualan {
    position: absolute;
    top: 134px;
    left: 31.5%;
    width: 67%;
    height: 610px;
    background: transparent;
    padding: 10px;
    overflow: auto;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 30px;

}

.content {
    background-color: transparent;
    border: 2px solid black;
    overflow: auto;

}

.thumbnail {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    width: 210px;
    height: 240px;
    float: left;
    margin: 4px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
}

.belanja2 {
    color: black;
    text-align: left;
    padding: 10px;
    height: 60px;
    width: 90%;
    margin: 4px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

img {
    width: 190px;
    height: 150px;
}